.message-alert-popup{
    background: #dee1ee;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    padding: 15px;
    min-width: 250px;
    max-width: 250px;
    .alert-header{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        color: #000;
        .icon {
            margin-right: 10px;
        }
        h3{
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }
    }
    .alert-msg{
        font-size: 14px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}