.meeting-info-block{
    position: absolute;
    top: 65px;
    left: 20px;
    background: #6264A7;
    padding: 20px;
    width: 380px;
    height: 200px;
    border-radius: 5px;
    .meeting-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        .icon{
            cursor: pointer;
            font-size: 20px;
        }
    }
    .info-text{
        color: #fff;
        font-size: 14px;
    }
    .meet-link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F8F8F8;
        padding: 15px;
        border-radius: 7px;
        div{
            font-size: 14px;
            font-weight: 600;
            border: none;
            outline: none;
            background: none;
            flex: 1;
            color: #464775;
            overflow-wrap: break-word;
        }
        .icon{
            cursor: pointer;
            color: #464775;
            &:hover{
                color: #6264A7;
            }
        } 
    }
    .share_social {
        display: flex;
        margin-top: 1rem;
        .info-text{
            color: #fff;
            font-size: 14px;
        }
        .share_icon {
            display: flex;
            margin-left: 0.4rem;
        }

    }
    
}