@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');

.homepage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, #F8F8FF 0%, #FFFFFF 125.42%),
        linear-gradient(90deg, #F8F8FF 0%, #FFFFFF 125.42%),
        linear-gradient(90deg, #F8F8FF 0%, #FFFFFF 125.42%);
    // background: #141E30;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #141E30, #243B55);  
    // background: linear-gradient(to right, #141E30, #243B55); 
    font-family: 'Lexend', sans-serif;
    .body{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .left{
            max-width: 500px;
            .content{
                h1{
                    font-size: 55px;
                    font-weight: 600;
                    margin-bottom: 3%;
                    // color: #464775;
                    color: #464775;
                }
                h2{
                    font-size: 30px;
                    font-weight: 300;
                    // color: #464775;
                    color: #242B64;
                }
                .meet-btn{
                    margin-top: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .btn{
                        font-weight: 600;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        padding: 15px;
                        border: none;
                        outline: none;
                        // background: #464775; 
                        background: #464775;
                        border-radius: 5px;
                        // color: #F8F8FF;
                        color: #fff;
                        text-decoration: none;
                        transition: all 0.1s ease-in;
                        .icon-block{
                            padding-right: 10px;
                            font-size: x-large;
                        }
                        &:hover{
                            // background-color: #FCD68F;
                            // color: #242B64;
                            // border: 2px solid #242B64;
                            transform: translateY(-2px);
                            box-shadow: 4px 4px 10px rgba(0,0,0,.2);
                        }
                    }
                    .join{
                        font-weight: 600;
                        background: transparent;
                        color: #242B64;
                        // color: #464775;
                        margin: auto 2px;
                        &:hover{
                            cursor: pointer;
                            text-shadow:1px 1px #000;
                        }
                    }
                    .input{
                        margin-left: 20px;
                        display: flex;
                        flex: 1;
                        .link-input{
                            // border: 1px solid #6264A7;
                            // box-sizing: border-box;
                            // border-radius: 5px;
                            margin-right: 10px;
                            position: relative;
                            .icon-block{
                                position: absolute;
                                top: 50%;
                                transform: translate(10px, -50%);
                                // color: #464775;
                                color: #5f6368;
                            }
                            input{
                                color: #000;
                                font-size: 16px;
                                background: transparent;
                                height: 57px;
                                border: 1px solid #242B64;
                                border-radius: 5px;
                                padding-left: 35px;
                                width: 100%;
                                box-sizing: border-box;
                                outline: none;
                                &:hover{
                                    border: 2px solid #242B64;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-side{
            img{
                width: 600px;
                height: 600px;
            }
        }
    }
}


$breakpoint-tablet: 800px;
@media (max-width: $breakpoint-tablet) {
    .body{
      .right-side{
          display: none;
      }
  }
}