.callpage-container{
    color: #373644;
    .video-container1{
        background: rgb(80, 79, 79);
        height: 500px;
        width: 500px;
        object-fit: cover;
        position: absolute;
        top: 20%;
        left: 12%;
        z-index: -1;
    }
    .video-container2{
        background: rgb(80, 79, 79);
        height: 500px;
        width: 500px;
        object-fit: cover;
        position: absolute;
        bottom: 10.75%;
        right: 23%;
        z-index: -1;
    }

}

// #video-grid{
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//  }
//  video{
//     height: 300px;
//     width: 400px;
//     object-fit: cover;
//     padding: 8px;
//  }
