.callpage-container{
    height: 100vh;
    background-color: #373644;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .video-container1{
        background: #373644;
        height: 530px;
        width: 500px;
        object-fit: cover;
        z-index: -1;
        border-radius: 3px;
    }
    .video-container2{
        background: #373644;
        height: 530px;
        width: 500px;
        object-fit: cover;
        z-index: -1;
        border-radius: 3px;
    }

}

// #video-grid{
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//  }
//  video{
//     height: 300px;
//     width: 400px;
//     object-fit: cover;
//     padding: 8px;
//  }
