@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');

#dblue{
    font-family: 'Lexend', sans-serif;
    background-color: #464775 !important;
    #logo{
        margin-left: 90px;
    }
    #last{
        margin-left: 955px !important;
        .icon-block{
            &:hover{
                color: #fff;
            }
        }
    }
}


