.meetpage-container{
    height: 100vh;
    background-color: #373644;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .video-container1{
        background: #373644;
        height: 530px;
        width: 500px;
        object-fit: cover;
        z-index: -1;
        border-radius: 3px;
    }
    .video-container2{
        background: #373644;
        height: 530px;
        width: 500px;
        object-fit: cover;
        z-index: -1;
        border-radius: 3px;
    }
}
.video-container{
    margin-left: 30vw;
    background: #373644;
    height: 530px;
    width: 500px;
    object-fit: cover;
    z-index: -1;
    border-radius: 3px;
}
