.chat-container{
    position: absolute;
    bottom: 82px;
    right: 0;
    background: #585A96;
    color: #fff;
    height: calc(100vh - 132px);
    width: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 2px solid #585A96;
    border-radius: 5px;
    .chat-header {
        display: flex;
        align-items: left;
        border-bottom: 1px solid #eee;
        #cross{
            margin-right: 25px;
            margin-top: 20px;
            font-size: large;
        }
        .tab{
            display: flex;
            align-items: center;
            justify-content: left;
            margin: 10px 5px;
            width: 100%;
            color: #fff;
            .icon{
                cursor: pointer;
                margin-left: 10px;
                font-size: 18px;
            }
            h5{
                margin-left: 5px;
                padding-top: 6px;
            }
        }
    }
    .chat-section{
        padding: 20px;
        flex: 1;
        overflow: auto;
        background: linear-gradient(90deg, #F8F8FF 0%, #FFFFFF 125.42%),
        linear-gradient(90deg, #F8F8FF 0%, #FFFFFF 125.42%),
        linear-gradient(90deg, #F8F8FF 0%, #FFFFFF 125.42%);
        border-radius: 5px;
        .chat-block{
            margin-bottom: 30px;
            .sender{
                font-weight: 500;
                font-size: 14px;
                color: #373644;
                small{
                    margin-left: 5px;
                    font-weight: 300;
                }
            }
            .msg{
                margin: 0;
                padding-top: 5px;
                color: #373644;
                font-size: 14px;
            }
        }
    }
    .send-msg-block{
        padding: 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        input{
            padding: 5px;
            border: none;
            outline: none;
            border-bottom: 1px solid #eee;
            width: 90%;
            border-radius: 7px;
        }
        .icon{
            cursor: pointer;
        }
    }
}